<!DOCTYPE html>
<html lang="en" ng-app="p2000App">
    <head>
        <meta charset="utf-8">
        <title>P2000</title>
        <link rel="stylesheet" href="inc/css/font-awesome.min.css">
        <link rel="stylesheet" href="inc/css/ol.css">
        <link rel="stylesheet" href="core.css">
  		<script type="text/javascript" src="inc/js/angular.min.js"></script>
  		<script type="text/javascript" src="inc/js/angular-route.min.js"></script>
  		<script type="text/javascript" src="inc/js/angular-resource.min.js"></script>
  		<script type="text/javascript" src="inc/js/angular-sanitize.min.js"></script>
  		<script type="text/javascript" src="inc/js/ol-angular/ol.js"></script>
  		<script type="text/javascript" src="inc/js/ol-angular/angular-openlayers-directive.js"></script>
  		<script type="text/javascript" src="app.js"></script>
  		<script type="text/javascript" src="controllers.js"></script>
    </head>
    <body>
		<div id="top">
			<div id="search">
				<input type="text" ng-model="query" /> <i class="fa fa-search" style="position: relative; left: -25px;"></i>
			</div>
		</div>
		<div id="left" ng-controller="MessageListCtrl">
			<ul class="messages">
          		<li ng-repeat="message in messages | filter:query">
          			<a href="#/message/{{message.capcode}}-{{message.timestamp}}">
            			<span class="title">{{message.message}}</span>
           	 			<p>{{message.date}} {{message.time}}</p>
          				<p><small ng-repeat="capcodeInfo in message.group">{{capcodeInfo.discipline}}, {{capcodeInfo.region}}, {{capcodeInfo.sector}} {{capcodeInfo.description}}<br /></small></p>
            		</a>
          		</li>
        	</ul>
		</div>
		<div id="right">
			<div ng-view></div>
		</div>
    </body>
</html>